UD5/A3/Actividades propuestas/Ejercicio1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="variedades">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ciudad" type="xs:string"></xs:element>
                <xs:element name="fecha-de-nacimeinto" type="xs:date"></xs:element>
                <xs:element name="hora" type="xs:time" />
                <xs:element name="nota" type="xs:decimal" />
                <xs:element name="apto" type="xs:boolean" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>