UD5/A3/Actividades propuestas/Ejercicio8.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="examenes">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="examen" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nombre" type="xs:string"/>
                        <xs:element name="nota" type="xs:decimal"/>
                    </xs:sequence>
                    <xs:attribute name="numero" type="xs:integer"></xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>