UD5/A3/Actividades propuestas/tarifas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="precios">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="temporada_alta" type="precioType"/>
                <xs:element name="temporada_baja" type="precioType"/>
                <xs:element name="temporada_media" type="precioType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="precioType">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="5"/>
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>